# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages that Data Scientist use
* Commonly used libraries used by Data Scientist
* Data Ssience Tools
* Examples of evaluating expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia
1. JavaScript

Some of the commonly used libraries by Data Scientists include:
1. TensorFlow
1. NumPy
1. SciPy
1. Pandas
1. Keras

|Data Science Tools|
--------------------
|Jupiter Notebooks |
|RStudio           |
|Git               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mustafa Ã–zbal